.container{
  background-image: url(../imagens/capaaaa2.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
}

.content{
  background: rgb(255, 255, 255);
  margin-top: 30px; /* Add a top margin to avoid content overlay */
  min-width: 1100px;
  max-width: 1100px;
  height: 100vh;
}

/*____________________________________________________________________*/
/*                            CABEÇALHO                               */
/*____________________________________________________________________*/

header{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.perfil-container{
  
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  padding-top: 30px;
  margin: 40px 0px 0px 80px;
}

.perfil-container img{
  object-fit: cover;
  width: 120px;
  height: 120px;

  border-radius: 100%;
}

.perfil-container h2{
  margin-top:15px;
  color: black;
}

header .card{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
  padding-top: 30px;

  margin-top:50px;

  color: black;
  width:200px;
  height:100px;
  border: 1px var(--branco)  solid;
  border-radius:25px;
}

